﻿@{
    ViewData["Title"] = "Fashion Shoes";
}
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/lib/img/Shoes.png" class="d-block mx-lg-auto img-fluid" alt="Fashion Shoes" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Calzados que te harán sentir super cómodo!!</h1>
        <p class="lead">Zapatos, Tenis, Botas, y un sinnúmero de calzados para toda la familia.</p>
      </div>
    </div>
  </div>
  @* carrusel *@
 
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="lib/img/Man-sandals.jpeg" class="imFit" alt="Sandals">
        <div class="carousel-caption">
          <h3>Sandalias</h3>
        </div>
      </div>

      <div class="item">
        <img src="lib/img/Shoes.png" class="imFit" alt="Tenis">
        <div class="carousel-caption">
          <h3>Zapatos</h3>
        </div>
      </div>

      <div class="item">
        <img src="lib/img/Unisex.jpeg" class="imFit" alt="Tenis">
        <div class="carousel-caption">
          <h3>Tenis</h3>
        </div>
      </div>

      <div class="item">
        <img src="lib/img/fashion-shoes.png" class="imFit" alt="Tacones">
        <div class="carousel-caption">
          <h3>Tacones</h3>
        </div>
      </div>

      <div class="item">
        <img src="lib/img/versace.jpeg" class="imFit" alt="Versace">
        <div class="carousel-caption">
          <h3>Tenis</h3>
        </div>
      </div>

      <div class="item">
        <img src="lib/img/woman-fashion.jpg" class="imFit" alt="Tacones">
        <div class="carousel-caption">
          <h3>Tacones</h3>
        </div>
      </div>

      <div class="item">
        <img src="lib/img/woman-hight.jpg" class="imFit" alt="Tacones">
        <div class="carousel-caption">
          <h3>Tacones</h3>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>






  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
 <hr class="featurette-divider">

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="lib/img/woman.jpg" class="roundIm" style="width:200px">
        <h2>Damas</h2>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="lib/img/kids.png" class="roundIm" style="width:200px">

        <h2>Ninos y Niñas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="lib/img/man.jpg" class="roundIm" style="width:200px">

        <h2>Caballeros</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- External Styles -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 

   

    