@{
    ViewData["Title"] = "Registro Clientes";
}
<h1>@ViewData["Title"]</h1>
<br/>
<div class="border container formBorder" style="padding:30px;">
    <form>
        <div class="form-group row">
            <div class="col-3">
                <label>Nombre Cliente</label>
            </div>
            <div class="col-6">
                <input type="text" id="fname" name="Name" placeholder="Nombre y Apellido...">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label>Tipo de Dirección</label>
            </div>
            <div class="col-6">
                <select id="" name="dirType">
                    <option value="Casa">Casa</option>
                    <option value="Trabajo">Trabajo</option>
                    <option value="Otro" selected>Otro</option>
                </select>
            </div>
        </div>
        

        <div class="form-group row">
            <div class="col-3">
                <label>Dirección</label>
            </div>
            <div class="col-6">
               <input type="text" id="fdir" name="Dir1" placeholder="C/Loren ipsum #1, Ciudad...">
                @* <span class="text-danger">texto</span> *@
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    Otra Dirección
                </button>
            </div>
            <div class="col-3">
                <a class="btn btn-success form-control backbtn">Volver a la lista</a>
            </div>
        </div>
    </form>  
</div>